@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600,700');

:root {
  --color-primary: #5294e2;
  --color-secondary: #7c818c;
  --color-dark: #4b5162;
  --color-darker: #383c4a;

  --bg-color: var(--color-dark);

  font-size: 16px;
}

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}